body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapid {
	height: 550px;
}
.buttongrid {
	text-align: center;
	padding-bottom: 10px;
}

button {
	background-color: #000066;
	border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
}

.heading {
	text-align: center;
}
#key {
	display: inline;
	padding: 10px;
}
.legend { 
	list-style: none; 
}
.legend li { 
	float: left; 
	margin-right: 10px; 
}

#key img {
	width: 60px;
	height: 50px;
	vertical-align: middle;
}
#footer {
	font-size: 10px;
	text-align: right;
	padding: 15px;
}

